.header{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid whitesmoke;
}

.headerLeft_searchInput{
  margin-left: 80px;
  background-color: azure;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 700px;
  opacity: 0.3;
  align-items: center;
  justify-content: center;
  
}

.headerLeft_searchInput > input{
  height: 40px;
  border: none;
  font-size: 20px;
}

.headerLeft{
  display: flex;
  align-items: center;
}

.headerLeft_searchIcon{
  display: inline;
}

.headerLeft_gmail{
  height: 55px;
}