.header{
  display: flex;
  
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 20px;
}

.header_center{
  display: flex;
  flex: 0.6;
  margin-left: 80px;
  background-color: #ded6d5;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.3;
  align-items: center;
  width: 100%;
}

.headerCenter_searchIcon > input{
  outline-width: 0;
  border: none;
  font-size: medium;
  padding: 10px;
  background-color: transparent;
  width: 750px;
}

.headerLeft{
  flex: 0.2;
  display: flex;
  align-items: center;
  
}

.headerCenter_searchIcon{
  display: flex;
  
}

.headerLeft_gmail > img{
  height: 55px;
  margin-left: 10px;
}

.headerCenter_arrowDropDown{
  
}

.headerRight{
  display: flex;
  align-items: center;
}